@model List<Recipe>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Recipes</h2>

<p>Here are our entered recipes.</p>

@foreach (Recipe recipe in Model)
{
    <p>@recipe.Name <a href="/Recipe/Show/@recipe.Id">Show</a>
        <form action="/Recipe/Delete/@recipe.Id" method="post">
            <button>Delete</button>
        </form>    
    </p>
}

<a href="/Recipe/Create/">Create recipe</a>