@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Create an ingredient</h2>

<form action="/Ingredients/Create" method="post">
    <input type="text" name="Name" placeholder="Name of ingredient" />
    <input type="text" name="Taste" placeholder="Taste of the ingredient" />
    <button>Save</button>
</form>